/* Global styles for the document */
body {
  background-color: #90C7E3;
  background-image: linear-gradient(to bottom, #FFFFFF, #90C7E3);
  background-repeat: no-repeat;
  background-position: center top;
}

/* Styles for the wrapper id */
#wrapper {
  width: 80%;
  min-width: 960px;
  max-width: 2048px;
  margin: 0 auto;
  background-color: #FFFFFF;
  box-shadow: 3px 3px #333333;
}

/* Styles for the header element */
header {
  background-color: #000032;
  background-image: url("sunset.jpg");
  background-repeat: no-repeat;
  background-position: right;
  color: #fff;
  height: 60px;
  text-align: center;
  padding-top: 15px;
}

/* Styles for the h1 element */
h1 {
  font-family: Georgia, "Times New Roman", serif;
  margin-bottom: 0;
  margin-top: 0;
}

/* Styles for the nav element */
nav {
  background-color: #FFFFFF;
  text-align: center;
  font-weight: bold;
  padding: 1em;
}

/* Styles for the main element */
main {
  padding: 1px 20px 20px 20px;
  display: block;
}

/* Styles for the h2 element */
h2 {
  font-family: Georgia, "Times New Roman", serif;
  text-shadow: 1px 1px #CCCCCC;
}

/* Styles for h3 element */
h3 {
  color: #000032
}

/* Styles for dt element */
dt {
  color: #002171
}

/* Styles for the footer element */
footer {
  padding: 2em;
}

/* Styles for the homehero id */
#homehero {
  height: 300px;
  background-image: url("coast.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* Styles for the yurthero id */
#yurthero {
  height: 300px;
  background-image: url("yurt.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

/* Styles for the trailhero id */
#trailhero {
  height: 300px;
  background-image: url("trail.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
